<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197428368670-0ab2firha9coo2mith0n5cusv1btbe25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197428368670-0ab2firha9coo2mith0n5cusv1btbe25</string>
	<key>API_KEY</key>
	<string>AIzaSyCmUA0aXlJJre8d2EGlL8Jdo8oELxN6crc</string>
	<key>GCM_SENDER_ID</key>
	<string>197428368670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedrolemoz.personalNotes</string>
	<key>PROJECT_ID</key>
	<string>personal-notes-1e14e</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-notes-1e14e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197428368670:ios:cf05909d4590d3156f650f</string>
</dict>
</plist>